.chart {
    padding: 1rem;
    border-radius: 12px;
    background:linear-gradient(to right,rgb(99, 139, 235),rgb(133, 224, 242));
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }