.chart {
    padding: 1rem;
    border-radius: 12px;
    background:linear-gradient(to right,rgb(127, 231, 233),rgb(133, 242, 201));
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }